LAYER
  NAME 'hypsometric'
  DATA 'raster/HYP_50M_SR_W_YCBCR.tif'
  TYPE raster
  STATUS off
  PROJECTION
    'init=epsg:4326'
  END
  CLASS
    NAME 'Natural Earth  1:50m Cross-blended Hypsometric Tints'
  END
END
