LAYER
  NAME "raster01"
  DATA "natural_earth_raster/50m_raster/HYP_50M_SR/HYP_50M_SR.tif"
  PROJECTION "init=epsg:4326" END
  METADATA
    "wms_title" "raster01"
  END
  TYPE RASTER
  STATUS OFF
END
