LAYER
  NAME "regex02"
  DATA "data/natural_earth_vector/50m_cultural/ne_50m_admin_0_countries"
  PROJECTION "init=EPSG:4326" END
  METADATA
    "wms_title" "regex02"
  END
  TYPE POLYGON
  STATUS OFF
  CLASSITEM "NAME"
  CLASS
    EXPRESSION /C/i # hilite
    STYLE
      COLOR 255 0 0
      OUTLINECOLOR 181 181 181
    END
  END
  CLASS
    STYLE
      OUTLINECOLOR 181 181 181
    END
  END
END
