LAYER
  NAME 'regex01'
  DATA 'data/minnesota_counties'
  TYPE POLYGON
  STATUS OFF
  CLASSITEM 'cty_name'
  CLASS    
    EXPRESSION /C/ # hilite
    STYLE
      COLOR 255 0 0
      OUTLINECOLOR 181 181 181
    END
  END
  CLASS
    STYLE
      OUTLINECOLOR 181 181 181
    END
  END
END
